
@model ApilPortfolio.Models.AdminModels.ProjectModel


@{
    Layout = "_AdminLayout";
}


<div class="Container">
    <div class="row">
        <div class="col-md-4 from">
           
            <form asp-action="Create" enctype="multipart/form-data" class="projectform">
                <h4>Project Details</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" > </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input type="file" asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="button" />
                </div>
            </form>
        </div>
       
        <div class="col-md-8"> 
            <h1 class="justify-content-center text-center"> Project Lists</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   

                   @* @foreach (var item = new)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
|
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>

        </div>
    </div>
     

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    
    .Container{
        height:100%;
        padding-left: 50px;
        width:100%;
    }

    .projectform{
        padding-left:50px;
        justify-content:center;
    }

    .projectform .form-group{
            margin-bottom: 15px;
            text-align: left;
    }

    .projectform .button{
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
    }

</style>